TENANT_IDENTITY_PORT=3301

CUSTOMER_BOT_ADMIN_EMAIL=admin@example.com
CUSTOMER_BOT_ADMIN_PASSWORD=admin123456

CUSTOMER_BOT_DATA_FILE=/www/wwwroot/bot.factory.website/shared/.data/customer-bot-storage.json
